Test.Core/obj/Release/netcoreapp2.0/Test.Core.pdb
Test.Core/obj/Release/netcoreapp2.0/Test.Core.dll
Test.Core/obj/Release/netcoreapp2.0/Test.Core.csprojAssemblyReference.cache
Test.Core/obj/Release/netcoreapp2.0/Test.Core.csproj.FileListAbsolute.txt
Test.Core/obj/Release/netcoreapp2.0/Test.Core.csproj.CoreCompileInputs.cache
Test.Core/obj/Release/netcoreapp2.0/Test.Core.csproj.CopyComplete
Test.Core/obj/Release/netcoreapp2.0/Test.Core.assets.cache
Test.Core/obj/Release/netcoreapp2.0/Test.Core.AssemblyInfoInputs.cache
Test.Core/obj/Release/netcoreapp2.0/Test.Core.AssemblyInfo.cs
Test.Core/obj/Debug/netcoreapp2.1/Test.Core.csprojAssemblyReference.cache
Test.Core/obj/Debug/netcoreapp2.1/Test.Core.csproj.CoreCompileInputs.cache
Test.Core/obj/Debug/netcoreapp2.1/Test.Core.assets.cache
Test.Core/obj/Debug/netcoreapp2.1/Test.Core.AssemblyInfoInputs.cache
Test.Core/obj/Debug/netcoreapp2.1/Test.Core.AssemblyInfo.cs
Test.Core/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Test.Core/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Test.Core/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Test.Core/obj/Debug/netcoreapp2.0/Test.Core.pdb
Test.Core/obj/Debug/netcoreapp2.0/Test.Core.dll
Test.Core/obj/Debug/netcoreapp2.0/Test.Core.csprojAssemblyReference.cache
Test.Core/obj/Debug/netcoreapp2.0/Test.Core.csproj.FileListAbsolute.txt
Test.Core/obj/Debug/netcoreapp2.0/Test.Core.csproj.CoreCompileInputs.cache
Test.Core/obj/Debug/netcoreapp2.0/Test.Core.csproj.CopyComplete
Test.Core/obj/Debug/netcoreapp2.0/Test.Core.assets.cache
Test.Core/obj/Debug/netcoreapp2.0/Test.Core.AssemblyInfoInputs.cache
Test.Core/obj/Debug/netcoreapp2.0/Test.Core.AssemblyInfo.cs
Test.Data/bin/Release/netcoreapp2.0/Test.Data.pdb
Test.Data/bin/Release/netcoreapp2.0/Test.Data.dll
Test.Data/bin/Release/netcoreapp2.0/Test.Data.deps.json
Test.Data/bin/Release/netcoreapp2.0/Newtonsoft.Json.xml
Test.Data/bin/Release/netcoreapp2.0/Newtonsoft.Json.dll
Test.Data/bin/Release/netcoreapp2.0/JSON/storage.json
Test.Data/bin/Debug/netcoreapp2.1/Test.Data.pdb
Test.Data/bin/Debug/netcoreapp2.1/Test.Data.dll
Test.Data/bin/Debug/netcoreapp2.1/Test.Data.deps.json
Test.Data/bin/Debug/netcoreapp2.1/Newtonsoft.Json.xml
Test.Data/bin/Debug/netcoreapp2.1/Newtonsoft.Json.dll
Test.Data/bin/Debug/netcoreapp2.0/Test.Data.pdb
Test.Data/bin/Debug/netcoreapp2.0/Test.Data.dll
Test.Data/bin/Debug/netcoreapp2.0/Test.Data.deps.json
Test.Data/bin/Debug/netcoreapp2.0/Newtonsoft.Json.xml
Test.Data/bin/Debug/netcoreapp2.0/Newtonsoft.Json.dll
Test.Data/bin/Debug/netcoreapp2.0/JSON/storage.json
Test.Data/obj/project.assets.json
Test.Data/obj/Test.Data.csproj.nuget.g.targets
Test.Data/obj/Test.Data.csproj.nuget.g.props
Test.Data/obj/Test.Data.csproj.nuget.cache
Test.Data/obj/Release/netcoreapp2.0/Test.Data.pdb
Test.Data/obj/Release/netcoreapp2.0/Test.Data.dll
Test.Data/obj/Release/netcoreapp2.0/Test.Data.csprojAssemblyReference.cache
Test.Data/obj/Release/netcoreapp2.0/Test.Data.csproj.GenerateResource.cache
Test.Data/obj/Release/netcoreapp2.0/Test.Data.csproj.FileListAbsolute.txt
Test.Data/obj/Release/netcoreapp2.0/Test.Data.csproj.CoreCompileInputs.cache
Test.Data/obj/Release/netcoreapp2.0/Test.Data.csproj.CopyComplete
Test.Data/obj/Release/netcoreapp2.0/Test.Data.assets.cache
Test.Data/obj/Release/netcoreapp2.0/Test.Data.Properties.Resources.resources
Test.Data/obj/Release/netcoreapp2.0/Test.Data.AssemblyInfoInputs.cache
Test.Data/obj/Release/netcoreapp2.0/Test.Data.AssemblyInfo.cs
Test.Data/obj/Debug/netcoreapp2.1/Test.Data.pdb
Test.Data/obj/Debug/netcoreapp2.1/Test.Data.dll
Test.Data/obj/Debug/netcoreapp2.1/Test.Data.csprojAssemblyReference.cache
Test.Data/obj/Debug/netcoreapp2.1/Test.Data.csproj.FileListAbsolute.txt
Test.Data/obj/Debug/netcoreapp2.1/Test.Data.csproj.CoreCompileInputs.cache
Test.Data/obj/Debug/netcoreapp2.1/Test.Data.csproj.CopyComplete
Test.Data/obj/Debug/netcoreapp2.1/Test.Data.assets.cache
Test.Data/obj/Debug/netcoreapp2.1/Test.Data.AssemblyInfoInputs.cache
Test.Data/obj/Debug/netcoreapp2.1/Test.Data.AssemblyInfo.cs
Test.Data/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Test.Data/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Test.Data/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Test.Data/obj/Debug/netcoreapp2.0/Test.Data.pdb
Test.Data/obj/Debug/netcoreapp2.0/Test.Data.dll
Test.Data/obj/Debug/netcoreapp2.0/Test.Data.csprojAssemblyReference.cache
Test.Data/obj/Debug/netcoreapp2.0/Test.Data.csproj.GenerateResource.cache
Test.Data/obj/Debug/netcoreapp2.0/Test.Data.csproj.FileListAbsolute.txt
Test.Data/obj/Debug/netcoreapp2.0/Test.Data.csproj.CoreCompileInputs.cache
Test.Data/obj/Debug/netcoreapp2.0/Test.Data.csproj.CopyComplete
Test.Data/obj/Debug/netcoreapp2.0/Test.Data.assets.cache
Test.Data/obj/Debug/netcoreapp2.0/Test.Data.Properties.Resources.resources
Test.Data/obj/Debug/netcoreapp2.0/Test.Data.AssemblyInfoInputs.cache
Test.Data/obj/Debug/netcoreapp2.0/Test.Data.AssemblyInfo.cs
Test.Tests/obj/project.assets.json
Test.Tests/obj/Test.Tests.csproj.nuget.g.targets
Test.Tests/obj/Test.Tests.csproj.nuget.g.props
Test.Tests/obj/Test.Tests.csproj.nuget.cache
Test.Tests/obj/Release/netcoreapp2.0/Test.Tests.csprojAssemblyReference.cache
Test.Tests/obj/Release/netcoreapp2.0/Test.Tests.csproj.CoreCompileInputs.cache
Test.Tests/obj/Release/netcoreapp2.0/Test.Tests.assets.cache
Test.Tests/obj/Release/netcoreapp2.0/Test.Tests.Program.cs
Test.Tests/obj/Release/netcoreapp2.0/Test.Tests.AssemblyInfoInputs.cache
Test.Tests/obj/Release/netcoreapp2.0/Test.Tests.AssemblyInfo.cs
Test.Tests/obj/Debug/netcoreapp2.1/Test.Tests.pdb
Test.Tests/obj/Debug/netcoreapp2.1/Test.Tests.dll
Test.Tests/obj/Debug/netcoreapp2.1/Test.Tests.csprojAssemblyReference.cache
Test.Tests/obj/Debug/netcoreapp2.1/Test.Tests.csproj.FileListAbsolute.txt
Test.Tests/obj/Debug/netcoreapp2.1/Test.Tests.csproj.CoreCompileInputs.cache
Test.Tests/obj/Debug/netcoreapp2.1/Test.Tests.csproj.CopyComplete
Test.Tests/obj/Debug/netcoreapp2.1/Test.Tests.assets.cache
Test.Tests/obj/Debug/netcoreapp2.1/Test.Tests.Program.cs
Test.Tests/obj/Debug/netcoreapp2.1/Test.Tests.AssemblyInfoInputs.cache
Test.Tests/obj/Debug/netcoreapp2.1/Test.Tests.AssemblyInfo.cs
Test.Tests/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Test.Tests/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Test.Tests/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Test.Tests/obj/Debug/netcoreapp2.0/Test.Tests.pdb
Test.Tests/obj/Debug/netcoreapp2.0/Test.Tests.dll
Test.Tests/obj/Debug/netcoreapp2.0/Test.Tests.csprojAssemblyReference.cache
Test.Tests/obj/Debug/netcoreapp2.0/Test.Tests.csproj.FileListAbsolute.txt
Test.Tests/obj/Debug/netcoreapp2.0/Test.Tests.csproj.CoreCompileInputs.cache
Test.Tests/obj/Debug/netcoreapp2.0/Test.Tests.csproj.CopyComplete
Test.Tests/obj/Debug/netcoreapp2.0/Test.Tests.assets.cache
Test.Tests/obj/Debug/netcoreapp2.0/Test.Tests.Program.cs
Test.Tests/obj/Debug/netcoreapp2.0/Test.Tests.AssemblyInfoInputs.cache
Test.Tests/obj/Debug/netcoreapp2.0/Test.Tests.AssemblyInfo.cs
Test.Tests/bin/Debug/netcoreapp2.1/xunit.runner.visualstudio.dotnetcore.testadapter.dll
Test.Tests/bin/Debug/netcoreapp2.1/xunit.runner.utility.netcoreapp10.dll
Test.Tests/bin/Debug/netcoreapp2.1/xunit.runner.reporters.netcoreapp10.dll
Test.Tests/bin/Debug/netcoreapp2.1/Test.Web.pdb
Test.Tests/bin/Debug/netcoreapp2.1/Test.Web.dll
Test.Tests/bin/Debug/netcoreapp2.1/Test.Tests.runtimeconfig.json
Test.Tests/bin/Debug/netcoreapp2.1/Test.Tests.runtimeconfig.dev.json
Test.Tests/bin/Debug/netcoreapp2.1/Test.Tests.pdb
Test.Tests/bin/Debug/netcoreapp2.1/Test.Tests.dll
Test.Tests/bin/Debug/netcoreapp2.1/Test.Tests.deps.json
Test.Tests/bin/Debug/netcoreapp2.1/Test.Data.pdb
Test.Tests/bin/Debug/netcoreapp2.1/Test.Data.dll
Test.Tests/bin/Debug/netcoreapp2.1/Test.Core.pdb
Test.Tests/bin/Debug/netcoreapp2.1/Test.Core.dll
Test.Tests/bin/Debug/netcoreapp2.1/JSON/storage.json
Test.Tests/bin/Debug/netcoreapp2.0/xunit.runner.visualstudio.dotnetcore.testadapter.dll
Test.Tests/bin/Debug/netcoreapp2.0/xunit.runner.utility.netcoreapp10.dll
Test.Tests/bin/Debug/netcoreapp2.0/xunit.runner.reporters.netcoreapp10.dll
Test.Tests/bin/Debug/netcoreapp2.0/Test.Web.pdb
Test.Tests/bin/Debug/netcoreapp2.0/Test.Web.dll
Test.Tests/bin/Debug/netcoreapp2.0/Test.Tests.runtimeconfig.json
Test.Tests/bin/Debug/netcoreapp2.0/Test.Tests.runtimeconfig.dev.json
Test.Tests/bin/Debug/netcoreapp2.0/Test.Tests.pdb
Test.Tests/bin/Debug/netcoreapp2.0/Test.Tests.dll
Test.Tests/bin/Debug/netcoreapp2.0/Test.Tests.deps.json
Test.Tests/bin/Debug/netcoreapp2.0/Test.Data.pdb
Test.Tests/bin/Debug/netcoreapp2.0/Test.Data.dll
Test.Tests/bin/Debug/netcoreapp2.0/Test.Core.pdb
Test.Tests/bin/Debug/netcoreapp2.0/Test.Core.dll
Test.Tests/bin/Debug/netcoreapp2.0/JSON/storage.json
Test.Core/bin/Release/netcoreapp2.0/Test.Data.pdb
Test.Core/bin/Release/netcoreapp2.0/Test.Data.dll
Test.Core/bin/Release/netcoreapp2.0/Test.Core.pdb
Test.Core/bin/Release/netcoreapp2.0/Test.Core.dll
Test.Core/bin/Release/netcoreapp2.0/Test.Core.deps.json
Test.Core/bin/Release/netcoreapp2.0/Newtonsoft.Json.xml
Test.Core/bin/Release/netcoreapp2.0/Newtonsoft.Json.dll
Test.Core/bin/Release/netcoreapp2.0/JSON/storage.json
Test.Core/bin/Debug/netcoreapp2.0/Test.Data.pdb
Test.Core/bin/Debug/netcoreapp2.0/Test.Data.dll
Test.Core/bin/Debug/netcoreapp2.0/Test.Core.pdb
Test.Core/bin/Debug/netcoreapp2.0/Test.Core.dll
Test.Core/bin/Debug/netcoreapp2.0/Test.Core.deps.json
Test.Core/bin/Debug/netcoreapp2.0/Newtonsoft.Json.xml
Test.Core/bin/Debug/netcoreapp2.0/Newtonsoft.Json.dll
Test.Core/bin/Debug/netcoreapp2.0/JSON/storage.json
Test.Core/obj/project.assets.json
Test.Core/obj/Test.Core.csproj.nuget.g.targets
Test.Core/obj/Test.Core.csproj.nuget.g.props
Test.Core/obj/Test.Core.csproj.nuget.cache
Test.Web.Host/.vs/Test.Web.Host/v15/Server/sqlite3/storage.ide-wal
Test.Web.Host/.vs/Test.Web.Host/v15/Server/sqlite3/storage.ide-shm
Test.Web.Host/.vs/Test.Web.Host/v15/Server/sqlite3/storage.ide
Test.Web.Host/.vs/Test.Web.Host/v15/Server/sqlite3/db.lock
Test.Web.Host/.vs/Test.Web.Host/v15/.suo
Test.Web.Host/.vs/Test.Web.Host/DesignTimeBuild/.dtbcache
Test.Web.Host/obj/project.assets.json
Test.Web.Host/obj/Test.Web.Host.csproj.nuget.g.targets
Test.Web.Host/obj/Test.Web.Host.csproj.nuget.g.props
Test.Web.Host/obj/Test.Web.Host.csproj.nuget.cache
Test.Web.Host/obj/Debug/netcoreapp2.0/Test.Web.Host.csprojAssemblyReference.cache
Test.Web.Host/obj/Debug/netcoreapp2.0/Test.Web.Host.csproj.CoreCompileInputs.cache
Test.Web.Host/obj/Debug/netcoreapp2.0/Test.Web.Host.assets.cache
Test.Web.Host/obj/Debug/netcoreapp2.0/Test.Web.Host.AssemblyInfoInputs.cache
Test.Web.Host/obj/Debug/netcoreapp2.0/Test.Web.Host.AssemblyInfo.cs
.vs/TestInspirito/v15/Server/sqlite3/storage.ide-wal
.vs/TestInspirito/v15/Server/sqlite3/storage.ide-shm
.vs/TestInspirito/v15/Server/sqlite3/storage.ide
.vs/TestInspirito/v15/.suo
Test.Web/bin/Release/netcoreapp2.0/Test.Web.runtimeconfig.json
Test.Web/bin/Release/netcoreapp2.0/Test.Web.runtimeconfig.dev.json
Test.Web/bin/Release/netcoreapp2.0/Test.Web.pdb
Test.Web/bin/Release/netcoreapp2.0/Test.Web.dll
Test.Web/bin/Release/netcoreapp2.0/Test.Web.deps.json
Test.Web/bin/Release/netcoreapp2.0/Test.Data.pdb
Test.Web/bin/Release/netcoreapp2.0/Test.Data.dll
Test.Web/bin/Release/netcoreapp2.0/Test.Core.pdb
Test.Web/bin/Release/netcoreapp2.0/Test.Core.dll
Test.Web/bin/Release/netcoreapp2.0/JSON/storage.json
Test.Web/bin/Debug/netcoreapp2.0/Test.Web.runtimeconfig.json
Test.Web/bin/Debug/netcoreapp2.0/Test.Web.runtimeconfig.dev.json
Test.Web/bin/Debug/netcoreapp2.0/Test.Web.pdb
Test.Web/bin/Debug/netcoreapp2.0/Test.Web.dll
Test.Web/bin/Debug/netcoreapp2.0/Test.Web.deps.json
Test.Web/bin/Debug/netcoreapp2.0/Test.Data.pdb
Test.Web/bin/Debug/netcoreapp2.0/Test.Data.dll
Test.Web/bin/Debug/netcoreapp2.0/Test.Core.pdb
Test.Web/bin/Debug/netcoreapp2.0/Test.Core.dll
Test.Web/bin/Debug/netcoreapp2.0/JSON/storage.json
Test.Web/obj/Release/netcoreapp2.0/Test.Web.pdb
Test.Web/obj/Release/netcoreapp2.0/Test.Web.dll
Test.Web/obj/Release/netcoreapp2.0/Test.Web.csprojAssemblyReference.cache
Test.Web/obj/Release/netcoreapp2.0/Test.Web.csproj.FileListAbsolute.txt
Test.Web/obj/Release/netcoreapp2.0/Test.Web.csproj.CoreCompileInputs.cache
Test.Web/obj/Release/netcoreapp2.0/Test.Web.csproj.CopyComplete
Test.Web/obj/Release/netcoreapp2.0/Test.Web.assets.cache
Test.Web/obj/Release/netcoreapp2.0/Test.Web.AssemblyInfoInputs.cache
Test.Web/obj/Release/netcoreapp2.0/Test.Web.AssemblyInfo.cs
Test.Web/obj/Debug/netcoreapp2.0/Test.Web.pdb
Test.Web/obj/Debug/netcoreapp2.0/Test.Web.dll
Test.Web/obj/Debug/netcoreapp2.0/Test.Web.csprojAssemblyReference.cache
Test.Web/obj/Debug/netcoreapp2.0/Test.Web.csproj.FileListAbsolute.txt
Test.Web/obj/Debug/netcoreapp2.0/Test.Web.csproj.CoreCompileInputs.cache
Test.Web/obj/Debug/netcoreapp2.0/Test.Web.csproj.CopyComplete
Test.Web/obj/Debug/netcoreapp2.0/Test.Web.assets.cache
Test.Web/obj/Debug/netcoreapp2.0/Test.Web.AssemblyInfoInputs.cache
Test.Web/obj/Debug/netcoreapp2.0/Test.Web.AssemblyInfo.cs
Test.Web/obj/project.assets.json
Test.Web/obj/Test.Web.csproj.nuget.g.targets
Test.Web/obj/Test.Web.csproj.nuget.g.props
Test.Web/obj/Test.Web.csproj.nuget.cache
.vs/
